.App {
  text-align: center;
  background-color:aquamarine;
  width: 100vw;
  height: 100vh;
}

h2 {
  color: crimson;
}
button {
  margin: 10px;
}
.counterstyle{
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-top: 40px;
  width: 280px;
  height: 300px;
  margin-left: 5px;
}

.togglestyle{
  margin-top: 50px;
}
